h1 {
    text-align: center;
    color: #880e4f;
    font-size: 36px;
    background-color: #fcf3e4;
padding: 20px;
   
}

/* Prindi  */
.recipes-container {
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: #fcf2e4;
}

/* Fëmijët (Kartat e recetave) */
.recipe-card {
    flex: 1;              /* Të treja kartat marrin gjerësi të barabartë */
    border: 2px solid #ccc;
    padding: 15px;
    background-color:  rgba(255, 248, 240, 0.85);
}

.recipe-card img {
    width: 100%;          
   
}

.recipe-card.important{
flex:2
}

.recipe-card.favorite{
   flex:3
}
