
.button-black,.button-yellow {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}
.button-black{
    background-color: black;
    color: white;
}
.button-yellow{
    background-color: yellow;
    color: black;
}