.flex-container{
   display:flex;
   flex-direction: column;
   height: 100vh;
}
.flex-container div{
    
    background-color: red;
    border: 2px solid black;
    flex: 1;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
width: 250px;

}

